@charset "UTF-8";

#top div {
  margin: 50px 50px 0px;
}

.header_img {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}

.header_img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

#main_menu.w_inner ul {
  display: flex;
  justify-content: right;
  margin-right: 50px;
}

#main_menu.w_inner li {
  list-style-type: none;
  margin-left: 20px;
}

.sec_head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lead {
  text-align: center;
}

.s_box {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-right: 40px;
}

.s_box li {
  list-style: none;
  text-align: center;
  border: 1px solid black;
  margin: 20px;
}

.descri {
  font-size: 80%;
}

.news_list div {}

.news_list ul {
  list-style-type: none;
}

.news_list li a {
  display: flex;
  gap: 25px;
  text-decoration: none;
  margin-left: auto;
}